<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="incomeDetail({},-1)">Add Income</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>                
                <th>No</th>
                <th>Jumlah</th>
                <th>Kategori</th>
                <th>Tanggal</th>
                <th>Note</th>
                <th align="right">#</th>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{book.amount}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.date}}</td>
                    <td>{{book.note}}</td>
                    <td align="right">
                        <button mat-button color="primary" (click)="incomeDetail(book,idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteCharge(idx)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>